@using System.Linq;

@page "/cubo"

<h3>3x3</h3>
<button disabled="@(CheckColorsError(Sides))">
    Solve
</button>

@*@onclick="Solve" *@
<div>
    <div class="date-grid" style="margin-left: 252px">
        @for (int i = 0, j = 0; i < 3; i++, j += 3)
        {
            <div class="smallHolder">
                @for (int k = 0; k < 3; k++)
                {
                    <Square Color="this.Sides[0].pecas[j+k]" Position="(0, j+k)" ClickCallback="handleSquareClick" /> 
                }
            </div>
        }
    </div>

    <div style="display:flex; margin: 2px">
        <div class="date-grid">
            @for (int i = 0, j = 0; i < 3; i++, j += 3)
            {
                <div class="smallHolder">
                    @for (int k = 0; k < 3; k++)
                    {
                        <Square Color="this.Sides[1].pecas[j+k]" Position="(1, j+k)" ClickCallback="handleSquareClick" />
                    }
                </div>
            }
        </div>

        <div class="date-grid">
            @for (int i = 0, j = 0; i < 3; i++, j += 3)
            {
                <div class="smallHolder">
                    @for (int k = 0; k < 3; k++)
                    {
                        <Square Color="this.Sides[2].pecas[j+k]" Position="(2, j+k)" ClickCallback="handleSquareClick" />
                    }
                </div>
            }
        </div>

        <div class="date-grid">
            @for (int i = 0, j = 0; i < 3; i++, j += 3)
            {
                <div class="smallHolder">
                    @for (int k = 0; k < 3; k++)
                    {
                        <Square Color="this.Sides[3].pecas[j+k]" Position="(3, j+k)" ClickCallback="handleSquareClick" />
                    }
                </div>
            }
        </div>
        <div class="date-grid">
            @for (int i = 0, j = 0; i < 3; i++, j += 3)
            {
                <div class="smallHolder">
                    @for (int k = 0; k < 3; k++)
                    {
                        <Square Color="this.Sides[4].pecas[j+k]" Position="(4, j+k)" ClickCallback="handleSquareClick" />
                    }
                </div>
            }
        </div>
    </div>
    <div class="date-grid" style="margin-left: 252px">
        @for (int i = 0, j = 0; i < 3; i++, j += 3)
        {
            <div class="smallHolder">
                @for (int k = 0; k < 3; k++)
                {
                    <Square Color="this.Sides[5].pecas[j+k]" Position="(5, j+k)" ClickCallback="handleSquareClick" />
                }
            </div>
        }
    </div>
</div>

@code {

    private Side[] Sides { get; set; } = new Side[6];

    public byte[] numBytes { get; set; } = { 82, 66, 87, 71, 89, 79 };

    private bool CheckColorsError(params Side[] sides) => sides
        .SelectMany(side => side.pecas)
        .GroupBy(cor => cor)
        .Select(group => group.Count())
        .Any(count => count != 9);

    public (byte[], byte[], byte[], byte[], byte[], byte[]) Solve()
    {
        byte[] cores0 = new byte[9];
        byte[] cores1 = new byte[9];
        byte[] cores2 = new byte[9];
        byte[] cores3 = new byte[9];
        byte[] cores4 = new byte[9];
        byte[] cores5 = new byte[9];

        var a = Sides
        .SelectMany(x => x.pecas)
        .Select(x => Translate(x))
        .ToArray();

        for (int i = 0; i < a.Count(); i++)
        {
            if (i <= 8)
                cores0[i] = a[i];
            else if (i <= 17)
                cores1[i - 9] = a[i];
            else if (i <= 26)
                cores2[i - 18] = a[i];
            else if (i <= 35)
                cores3[i - 27] = a[i];
            else if (i <= 44)
                cores4[i - 36] = a[i];
            else if (i <= 53)
                cores5[i - 45] = a[i];
        }
        Cubo cubinho = new Cubo();
//      COLOCAR ESSA LINDEZA EM UM FOR -> 6
//     Face facezinha = new Face(cores);
//     cubinho.addFace(facezinha, i);
        Solver solucao = new Solver(cubinho);
        Console.WriteLine(solucao.Cross());
        Console.WriteLine(solucao.FirstCorners());
        Console.WriteLine(solucao.CenterEdges());
        Console.WriteLine(solucao.TopCross());
        Console.WriteLine(solucao.TopCorners());
        Console.WriteLine(solucao.PLL1());
        Console.WriteLine(solucao.Minerva());
        return (cores0, cores1, cores2, cores3, cores4, cores5);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        foreach (Cor c in Enum.GetValues(typeof(Cor)))
        {
            Sides[(int)c] = new Side(c);
        }
    }

    private void handleSquareClick((Cor color, int side, int piece) squareInfo)
    {
        this.Sides[squareInfo.side].pecas[squareInfo.piece] = squareInfo.color;
    }

    private void OnClick(int lado, int peca)
    {
        this.Sides[lado].pecas[peca] =
            (int)this.Sides[lado].pecas[peca] > 4 ?
            Cor.Red : (Cor)((int)this.Sides[lado].pecas[peca] + 1);
    }

    private class Side
    {
        public Cor[] pecas { get; set; } = new Cor[9];

        public Side(Cor cor)
        {
            for (int i = 0; i < pecas.Length; i++)
                pecas[i] = cor;
        }
    }

    public byte Translate(Cor cor) => numBytes[(int)cor];

}
