@media (max-width: 800px) {

    .slogan {
        visibility: hidden;
    }

    .logo {
        margin-top: -35px;
        min-height: 1rem;
        max-height: 4rem;
        /* visibility: hidden;*/
    }

    .top-row.px-4 ::deep {
        background-color: #02377D;
        width: 100%;
        min-height: 3rem;
        max-height: 4rem;
        display: flex;
        align-content: baseline;
        justify-content:space-between;
        align-items: center;
    }

    .divH {
        height: min-content;

    }

    ul.nav.justify-content-center ::deep {
        font-size: 1rem;
    }

    .divCubo {
        display: flex;
    }
}

@media (min-width: 800px) {

    .divH {
        height: min-content;
        margin-bottom: 2rem;
    }

    .top-row.px-4 ::deep {
        background-color: #02377D;
        width: 100%;
        min-height: 5rem;
        max-height: 8rem;
        align-content: baseline;
        display: flex;
        align-content: baseline;
        justify-content: center;
        align-items: center;
    }

    .logo {
        margin-top: -65px;
        margin-left: 30px;
        min-height: 5rem;
        max-height: 8rem;
        display: block;
        background-color: none;
    }

    .slogan {
        max-height: 7rem;
        width: 1000px;
    }

    ul.nav.justify-content-center ::deep {
        font-size: 2rem;
    }

    .divCubo {
        display: flex;
    }
}

body {
    background-color: lightgray;
}

* {
    box-sizing: border-box;
}

.date-grid {
    width: 250px;
    height: 250px;
    background: #eee;
    display: flex;
    flex-direction: column;
}

.smallHolder {
    width: 100%;
    height: 33.33333333333333%;
    display: flex;
}

    .smallHolder div {
        width: 25%;
        height: 99%;
        flex-shrink: 0;
        flex-grow: 1;
        margin: 0.3%;
        outline: 1px solid black;
    }


