@page "/cubo"

<h3>Inicial</h3>

@*<button style="background-color:@bgcolor" @onclick="(() => Change(upper, 1))">U1</button>*@
@*criar quadrados do desenho: https://www.blog.oncube.com.br/wp-content/uploads/2022/02/faces-768x581.png *@
<div></div>

@code {
    string bgcolor { get; set; } = Cor.Red.ToString().ToLower();

    private Side[] Sides { get; set;} = new Side[6];


    private void Change(Side sd, int x)
    {
        if (bgcolor == "red")
            bgcolor = "blue";
        else if (bgcolor == "blue")
            bgcolor = "red";
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        foreach(Cor c in Enum.GetValues(typeof(Cor)))
        {
            Sides[(int)c] = new Side(c);
        }
    }

    private class Side
    {
        protected Cor[] pecas { get; set; } = new Cor[9];

        public Side(Cor cor)
        {
            for(int i = 0; i < pecas.Length; i++)
            {
                pecas[i] = cor;
            }
        }
    }

    private enum Cor
    {
        White, 
        Red,
        Blue,
        Green,
        Yellow,
        Orange
    }
}
