@page "/"

<h2>O Desafio do Cubo Mágico Nunca Foi Tão Fácil</h2>

<NavLink class="cubo2x2" href="cubo">Cubo 2x2</NavLink>

<div class="container">
    <div class="container2x2">    
        <img class="imgCubo2x2" src="./image/2x2.png" alt="Sample Photo" />
    </div>

</div>