@page "/"

<div class="divH">
    <div class="top-row px-4" style="font-weight:600; ">
    </div>
    <img class="logo" src="./image/logoV2.png" />
</div>

@*<h2>O Desafio do Cubo Mágico Nunca Foi Tão Fácil</h2>*@


<div class="container">
    <div class="containerImgs">
        <div class="row">
            <div class="col">
                <NavLink class="btn btn-outline-light" href="cubo" style="display:flex;flex-wrap: nowrap;flex-direction: column; align-items: center; border-radius:35rem;">
                    <h2>Cubo 2x2</h2>
                    <img class="imgCubo2x2" src="./image/2x2C.png" alt="Cubo 2x2" />
                </NavLink>
            </div>
            <div class="col">
                <NavLink class="btn btn-outline-light" href="cubo" style="display:flex;flex-wrap: nowrap;flex-direction: column; align-items: center; border-radius:35rem;">
                    <h2>Cubo 3x3</h2>
                    <img class="imgCubo3x3" src="./image/3x3.png" alt="Cubo 3x3" />
                </NavLink>
            </div>
        </div>


        @*<div class="row">
        <div class="col">
        <img class="imgCubo2x2" src="./image/cubo2x2.png" alt="Cubo 2x2" />
        </div>
        <div class="col">
        <img class="imgCubo3x3" src="./image/cubo3x3.png" alt="Cubo 3x3" />
        </div>
        </div>*@
    </div>
</div>
