
@media (max-width: 800px) {

    .slogan {
        visibility: hidden;
    }

    .logo {
        margin-top: -35px;
        min-height: 1rem;
        max-height: 4rem;
        /* visibility: hidden;*/
    }

    .top-row.px-4 ::deep {
        background-color: #02377D;
        width: 100%;
        min-height: 3rem;
        max-height: 4rem;
    }

    .divH {
        height: min-content;
        margin-bottom: 1rem;
    }
}

@media (min-width: 800px) {

    .divH {
        height: min-content;
        margin-bottom: 2rem;
    }

    .top-row.px-4 ::deep {
        background-color: #02377D;
        width: 100%;
        min-height: 5rem;
        max-height: 8rem;
    }

    .logo {
        margin-top: -65px;
        margin-left: 30px;
        min-height: 5rem;
        max-height: 8rem;
        display: block;
        background-color:none;
    }

    .slogan {
        max-height: 7rem;
        width: 1000px;
    }

    
}

body ::deep {
    text-align: center;
}

html ::deep {
    text-align: center;
}

.container ::deep {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
}


article ::deep {
    width: 100%;
}

h2 {
    
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.imgCubo2x2 {
    max-width: 80%;
    max-height: 80%;
 /*   height:auto;
    width: auto;*/
}


.imgCubo3x3 {
    max-width: 78%;
    width: auto;
    
    height: 75%;
}

.col ::deep {
    /*background-color:pink;*/
}

.rol ::deep {
    /*background-color:orange;*/
}

.btn  {
    border-radius: 50px;
}

.btn:hover ::deep {
    border-radius: 30px;
    height: 70px;
}

.btn-outline-light ::deep {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border-radius: 10px;
    
}

.btn-outline-light:hover ::deep {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border-radius: 10px;
}

