@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>
*@
    <main>
        

        <article style="width:100%; padding:0;">
            @Body
        </article>
    </main>
</div>
