@using static CubeSolverBlazorMaui.Pages.Cubo;

<div 
    class="square" 
    style="background-color: @(Color);"
    @onclick="OnClick"
>
</div>


@code {
    [Parameter]
    public Cor Color { get; set; } = Cor.Red;

    [Parameter]
    public (int side, int piece) Position { get; set; }

    [Parameter]
    public EventCallback<(Cor color, int side, int piece)> ClickCallback { get; set; }

    private async void OnClick()
    {
        //this.Sides[lado].pecas[peca] =
        //    (int)this.Sides[lado].pecas[peca] > 4 ?
        //    Cor.Red : (Cor)((int)this.Sides[lado].pecas[peca] + 1);
        if (this.Position.piece != 4)
        {
            this.Color = (int)this.Color > 4 ? Cor.Red : (Cor)((int)this.Color + 1);
            await ClickCallback.InvokeAsync((this.Color, this.Position.side, this.Position.piece));
        }

    }
}
