body  {
    text-align: center;
}

html  {
    text-align: center;
}

.container  {
    text-align: center;
    display: flex;
    align-items: center
}

h2 {
    color: black;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.btn-outline-light {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.btn-outline-light:hover {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
